* {
	margin: 0;
	padding: 0;
}

/* These styles are for the index html page */
#container-1 {
	display: flex;
	height: 100vh; 
	background-color: blue; 
	justify-content: center;
}

#start-menu {
	height: 450px;
	width: 300px;
	border: solid 2px skyblue;
	border-radius: 50px;
	background-color: darkblue;
	align-self: center;
	text-align: center;
}

#start-menu h3 {
	position: center;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 35px;
	color: skyblue;
	
}

#start-menu form {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 25px;
	color: skyblue;
}

/* These styles are for game.html */

#container-2 {
	display: flex;
	height: 100vh;
	background-color: purple;
	justify-content: center;
	
}

#player-name {
	height: 150px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	left: 20px;
	margin: 20px;
	text-align: center;
	border: solid skyblue 2px;
	border-radius: 50px;
	color: skyblue;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
}

#scoreboard {
	height: 150px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	right: 20px;
	margin: 20px;
	text-align: center;
	border: solid skyblue 2px;
	border-radius: 50px;
	color: skyblue;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
}

#questions {
	height: 300px;
	width: 750px;
	background-color: darkblue;
	border: solid 2px black;
	align-self: center;
	margin: 10px;
	margin-bottom: 40px;
	border-radius: 40px;
	border: solid skyblue 2px;

}

#answer-1 {
	height: 100px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	left: 160px;
	bottom: 160px;
	border-radius:  40px;
	border: solid skyblue 2px;
}

#answer-2 {
	height: 100px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	left: 160px;
	bottom: 50px;
	border-radius:  40px;
	border: solid skyblue 2px;
}

#answer-3 {
	height: 100px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	right: 160px;
	bottom: 160px;
	border-radius: 40px;
	border: solid skyblue 2px;
}

#answer-4 {
	height: 100px;
	width: 450px;
	background-color: darkblue;
	position: absolute;
	right: 160px;
	bottom: 50px;
	border-radius: 40px;
	border: solid skyblue 2px;
}
